@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,116;100..900,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Kumbh Sans", serif;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.content_full {
    display: flex;
    height: 90vh;
    width: 90vw;
    justify-content: center;
}
.content_left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 60%;
}


.content_imgs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.img_large {
    width: 625px;
    height: 450px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.img_small {
    width: 160px;
    height: 125px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    position: relative;
}
.img_small:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0000005e;
    border-radius: 5px;
}
.imgs {
    display: flex;
    justify-content: space-between;
}
.content_right {
    display: grid;
    align-items: center;
    width: 50%;
}
.linea {
    height: 1px;
    width: 100%;
    background: #c7c7c7;
}
.content_right a.boton:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background: orange;
    transform: translateX(-100%);
    transition: all 0.3s ease;
    color: white;
    z-index: -1;
}
.content_right h2 {
    color: #707070;
    font-size: 19px;
    font-weight: 600;
}
.content_right h1 {
    font-size: 30px;
    letter-spacing: 1px;
    text-shadow: 0px 1px 4px #0000006b;
}
.content_right a.boton {
    background: #E8C03F;
    width: 140px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border-radius: 30px;
    font-size: 18px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    font-weight: 600;
    text-shadow: 0px 2px 4px #00000036;
}

.content_right a.boton:hover:before{
    transform: translateX(0);
}
.info_content {
    display: flex;
    justify-content: space-between;
}
.info_left {
    display: grid;
    align-items: initial;
}
.info_right {
    display: flex;
    position: relative;
    transition: transform 0.3s ease-in-out;
    width: 348px;
    height: 222px;
    justify-content: center;
    align-items: center;
    background-image: url(img/map.png);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    border: 1px solid #80808075;
}

.info_right::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: #00000030;
    border-radius: 15px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.info_right a {
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease;
    color: #1000ff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    height: 100%;
    display: flex
;
    justify-content: center;
    align-items: center;
}
.info_right:hover {
    transform: scale(1.05);
}
.info_right:hover a{
    opacity: 1;
}
.info_right:hover::before {
    opacity: 1;
}
.label {
    color: #007BFF;
    font-weight: bold;
    letter-spacing: 1px;
}
.value{
    font-weight: 500;
    letter-spacing: 1px;
}