@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,116;100..900,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Kumbh Sans", serif;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.content_full {
    display: flex;
    height: 90vh;
    width: 90vw;
    justify-content: center;
}
.content_left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 60%;
}


.content_imgs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.img_large {
    width: 625px;
    height: 450px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.img_small {
    width: 160px;
    height: 125px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    position: relative;
}
.img_small:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0000005e;
}
.imgs {
    display: flex;
    justify-content: space-between;
}
.content_right {
    display: grid;
    align-items: center;
    width: 50%;
}
.linea {
    height: 1px;
    width: 100%;
    background: #c7c7c7;
}
.content_right a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background: orange;
    transform: translateX(-100%);
    transition: all 0.3s ease;
    color: white;
    z-index: -1;
}
.content_right h2 {
    color: #707070;
    font-size: 20px;
    font-weight: 600;
}
.content_right h1 {
    font-size: 30px;
}
.content_right a {
    background: #E8C03F;
    width: 140px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border-radius: 30px;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    font-weight: 600;
    text-shadow: 0px 2px 4px #00000036;
}

.content_right a:hover:before{
    transform: translateX(0);
}
.info_content {
    display: flex;
    justify-content: space-between;
}
.info_left {
    display: grid;
    align-items: initial;
}
.info_right img {
    border-radius: 15px;
    border: 1px solid #0000005c;
}